@model IEnumerable<ShelterAdoptionRequest>
@{
    ViewBag.Title = "See Requests";
}
<link rel="stylesheet" href="~/css/Manager/adoption_requests.css" asp-append-version="true" />

<partial name="_NotificationsPartial"></partial>

<h1>Adoption Requests</h1>
<div class="request-container">
    @foreach (ShelterAdoptionRequest request in Model)
    {
        <div class="request-card">

            <h1 class="status">Status: @request.Status</h1>

            <form method="post" asp-area="Manager" asp-controller="Home" asp-action="Approve" asp-route-id="@request.Id">
                <button type="submit" class="approve-btn">Approve</button>
            </form>
            <form method="post" asp-area="Manager" asp-controller="Home" asp-action="Reject" asp-route-id="@request.Id">
                <button type="submit" class="reject-btn">Reject</button>
            </form>


            <div class="request-details">
                <div><span>Email:</span> <span>medisonrey@gmail.com</span></div>
                <div><span>Phone number:</span> <span>00681257319</span></div>
                <div><span>Person name:</span> <span>medison</span></div>
                <div><span>Request was made:</span> <span>10.05.2025 10:52:37</span></div>
                <div><span>Publication title:</span> <span>киця ларі</span></div>
                <div><span>Pet Name:</span> <span>Ларі</span></div>
            </div>
        </div>
    }
</div>